*{
    margin: 0;
    padding: 0
}
.container{
	width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}

.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}

.col-lg-3{
	width: 25%;
	padding: 0 15px;
}

.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}

.col-lg-5{
	width: 41.66%;
	padding: 0 15px;
}

.col-lg-6{
	width: 50%;
	padding: 0 15px;
}

.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}

.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}

.col-lg-9{
	width: 75%;
	padding: 0 15px;
}

.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}

.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}

.col-lg-12{
	width: 100%;
	padding: 0 15px;
}


.header-menu{
	background: red;
	height: 100px;
	padding-top:20px;
	border: 5px solid black;
}
.menu-section{
    background: lightblue ;
    height:410px ;
    padding-top:26px ;
	border: 5px solid black;
 }
 

 .footer{
    background-color: #c8b1f2ad;
    height: 100px;
    padding-top: 50px;
	border: 5px solid black;
 }
 .sect-1{
	background-color: brown;
	height: 130px;
	padding: 20px;
	border: 5px solid black;
 }
.lg1{
	background-color: orange;
	height: 110px;
	padding-top: 10px;
	border: 5px solid black;
}
.lg2{
	background-color: yellow;
	height: 120px;
	border: 5px solid black ;
}
.sect-2{
	background-color: grey;
	height: 130px;
	padding: 20px;
	margin-top: 20px;
	border: 5px solid black;
}
.ol1{
	background-color: blueviolet;
	height: 110px;
	border: 5px solid black;
}
.ol2{
	background-color: yellow;
	height: 110px;
	border: 5px solid black;
}
.ol3{
	background-color: orange;
	height: 110px;
	border: 5px solid black;
}